<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
       
    <div class="content">
        <section class="inner-container hero">
        <h1>
        Hello, here are a few more details about me.
        </h1>
        </section>
        <section class="inner-container space-bottom">
        <h3>Professional Experience: </h3>
        <p>
        LEADERSHIP INSTITUTE, COLUMBUS STATE UNIVERSITY, COLUMBUS, GA </p>
        <p>
        Student Assistant, August 2021 - Present </p> <p>
            Take care of scheduling the meetings with clients;
            Interact with clients regarding training sessions; 
            Provide assistance to staff with the training sessions; 
            Provide instructors with internal leadership training. 
        </p>
        <p>
        LUCID INFOSYSTEMS, SUNNYVALE, CA </p>
        <p>
        Software Engineer Intern, June 2020 - January 2021 </p><p>
            Design, build, or maintain websites, using authoring or scripting languages, content creation tools, digital media;
            Evaluate code to ensure that it is valid, is properly structured, meets industry standards and is compatible with browsers, devices, or operating systems; 
            Maintain understanding of current web technologies or programming practices through continuing education, reading, or participation;
            Develop and document style guidelines for website content. Develop website maps, application models, image templates, or page templates that meet project goals, user needs, or industrial standards. 
        </p>
        <p>
        MODERN LANGUAGES AND CULTURES LAB, COLUMBUS STATE UNIVERSITY, COLUMBUS, GA </p>
        <p>
        Student Assistant, Sep 2019 - February 2020, Present</p><p>
            Inform students of the procedures for completing the placement tests; 
            Prepare or proctor examinations;
            Notify instructors of students checking in and out of the lab; 
            Provide assistance to faculty members or staff with the laboratory devices; 
            Provide instructors with assistance in the use of audiovisual equipment; 
            Assist faculty members and staff with the film nights.
        
        </p>
        <h3>Academic Projects:</h3>
        <h4>Migration Guide</h4>
        <p>
        This is an application to help people who are moving to a new city providing information like airport details, bank locations, currency conversion, native language learning centers based on the user requirement.
            Developed the application in Python;
            Researched information about airports, banks for some cities;
            Followed proper code standards and practices;
            Made an A on the project
        </p>
        <h4>Maize Solver</h4>
        <p>
        This is an application to solve the maze for given input maze and returns solved path and directions taken to solve it; 
            Developed the application in Java; 
            Created methods to iterate through the maze and construct the path from starting point to the endpoint and to iterate through the maze and check whether maze can be solved in the given direction;
            Made an A on the project
        </p>
        <h4>Kiran Dance Academy</h4>
        <p>
        This is an application that explains a Dance Academy and it displays the dance forms that are offered by the Academy. 
            Developed the website using HTML and CSS;
            Created 5 webpages for this website in which 3 webpages precisely describe the dance forms and there is the main webpage that displays about the Academy and the final webpage is a contact page to contact the Academy;
            Made an A on the website
        </p>
        <h4>AJAX& ACME Sorting</h4>
        <p>
        This is a real-time problem which was developed to help users sort the given information considering the cost, time and effort required.
            Developed the application in Java;
            Used computational complexity, data structures, sorting, evaluating concepts;
            Made an A on the project
        </p>
        <h4>Programming Project for TCP Socket Programming</h4>
        <p>
        The project is to create a program that transfers the file from client side to server side for a hundred times with TCP/ UDP protocol. 
            Developed the program in Python;
            The program compares the stored file every time and checks if it is the same file or not;
            Counts the transferring error rate, which is the number of times incorrect file received server side;
            counts the time in milli seconds to transfer the same file for hundred times with TCP/ UDP;
            Made an A on the project
        </p>
        </section>
        </div>
        
        <footer class="border">
        <p>By <bold>Kiran Machiraju<span id="footer-date"></span></bold></p>
        </footer>

        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="ecadff1c4561854f5e27e978-text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
            ga('create', 'UA-51618306-1', 'benadam.me');
            ga('send', 'pageview');
        </script>
        
        <script src="/static/js/main.js" type="ecadff1c4561854f5e27e978-text/javascript"></script>
        <script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="ecadff1c4561854f5e27e978-|49" defer=""></script>
</body>
</html>
